@use "../../../sass/mixin" as *;
@use "../../../sass/pleacholder" as *;
@use "../../../sass/variabels" as *;

.categoryPage {
  width: 100%;
  .container {
    @include flexBox(flex-start, flex-start, 20px);
    border-top: 1px solid $mainColor;
    padding: 20px 0px;
    .itemsSide {
      width: calc(100% - 300px - 20px);
      @include flexBox(flex-start, flex-start, 20px, column);
      .sortByList {
        width: 100%;
        @include flexBox(space-between, center, 20px);
      }
      .itemsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
      }
    }
  }
}

@media ($tabletScreen) {
  .categoryPage {
    .container {
      display: block;
    }
  }
}
